.col-image-left {
    background-image: url("../../../../Images/PublicImages/image-4.jpg");
    height: 25em !important;
}

.col-image-right {
    background-image: url("../../../../Images/PublicImages/image-1.jpg");
    height: 25em !important;
}

.lost-image {
    background-image: url("../../../../Images/PublicImages/image-3.jpg");
    height: 25em !important;
    width: "720"
}
