APP_ALLOWED_ORIGINS=http://localhost:3000
APP_JWT_EXPIRATION_MS=3600000

APP_JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_KEY_SECRET=